#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "ATHEROS USB Driver"
#define VER_INTERNALNAME_STR        "athusb.sys"
#define VER_ORIGINALFILENAME_STR    "athusb.sys"

#include "common.ver"

MofResourceName MOFDATA athusb.bmf

