# Copyright (C) 2010 Microhard Systems Inc.
# tech       		(0,1)0 for 3GPP; 1 for 3GPP2; absent for all supported technologies
# call_para  		(2-32) - data call parameters in device ; absent for device default settings
# authentication	(1-3) - 1 PAP may be performed; 2 CHAP may be performed; 3 device decide
config carrier connect 
	option disabled  0
	option tech  	
	option call_para
	option apn	Auto 
	option pdns
	option sdns
	option pnbns
	option snbns
	option ip
	option authentication
	option username
	option passwd
	option time
	option simcardpin	     	   
	option req_state  0	     	   
	option tech_mode  auto
	option ippassthrough Disable
	option carrier_selection 0
        option carrier_id 0	     	   

