
config 'rule_define' 'rule_define'
	option 'rule_define' 'A'

#config 'rule' 'CUSTOM_rule0'
#	option 'rule_mode' 'TIMER_ONLY'
#	option 'timercount' '3'
#	option 'input1' 'n/a'
#	option 'input2' 'n/a'
#	option 'input3' 'n/a'
#	option 'input4' 'n/a'
#	option 'output1' '1'
#	option 'output2' 'n/a'
#	option 'output3' 'n/a'
#	option 'output4' 'n/a'
#
#config 'rule' 'CUSTOM_rule1'
#	option 'rule_mode' 'TIMER_ONLY'
#	option 'timercount' '4'
#	option 'input1' 'n/a'
#	option 'input2' 'n/a'
#	option 'input3' 'n/a'
#	option 'input4' 'n/a'
#	option 'output1' 'n/a'
#	option 'output2' '1'
#	option 'output3' 'n/a'
#	option 'output4' 'n/a'
#
#config 'rule' 'CUSTOM_rule2'
#	option 'rule_mode' 'TIMER_ONLY'
#	option 'timercount' '5'
#	option 'input1' 'n/a'
#	option 'input2' 'n/a'
#	option 'input3' 'n/a'
#	option 'input4' 'n/a'
#	option 'output1' 'n/a'
#	option 'output2' 'n/a'
#	option 'output3' '1'
#	option 'output4' 'n/a'
#
#config 'rule' 'CUSTOM_rule3'
#	option 'rule_mode' 'TIMER_ONLY'
#	option 'timercount' '6'
#	option 'input1' 'n/a'
#	option 'input2' 'n/a'
#	option 'input3' 'n/a'
#	option 'input4' 'n/a'
#	option 'output1' 'n/a'
#	option 'output2' 'n/a'
#	option 'output3' 'n/a'
#	option 'output4' '1'
#
