# Copyright (C) 2012 Microhard Systems Inc.

config gpsd gpsd_conf
#based original 3G gpsd config
	option status			'1'
	option GPS_Source		'/dev/ttyACM0'
	option Standalone_GPS_Source	'/dev/ttyACM0'
	option Carrier_GPS_Data		'/dev/ttyUSB4'	
	option GPSD_TCP_Port		'2947'
	option Antenna_PowerV		'3.05'
	option mylocation		'1'


