# Copyright (C) 2012 Microhard Systems Inc.

config 'gpsgatetr' 'gpsgatetr_conf'
	#A-Diable B-Enable C-Enable Direct Send Mode
	option 'TRACKER_Status' 'A'
	#A-TCP and SMS Both  B-TCP Only C-SMS Only
	option 'SERVER_Mode' 'A'  
	#A-Position Data B-Ping Command,  if above not SMS Only
	option 'TCP_ALIVE_Mode' 'A'
	option 'TCP_ALIVE_Interval' '150'
	option 'SERVER_PhoneFilt_En' 'A'
	option 'SERVER_Phone1' '0'
	option 'SERVER_Phone2' '0'
	option 'SERVER_Phone3' '0'
	option 'Motion_Set' '1'
	option 'Motion_Distance' '100'
	option 'SERVER_Address' '192.168.168.1'
	option 'SERVER_Port' '30175'
	option 'SERVER_Interval' '60'
	option 'SERVER_IOStatus' 'A'
	option 'SERVER_Setup_Status' 'B'
	option 'SERVER_Conn_Phone' '888'
	option 'SERVER_Conn_TCP_Status' 'B'
	option 'SERVER_Conn_StartTr_Status' 'A'
	option 'SERVER_Conn_Domain' '192.168.168.1'
	option 'SERVER_Conn_Port' '30175'
	option 'SERVER_Conn_STime' 'Dec 3 09:10:08 MST 2012'
	option 'SERVER_Conn_TCPTimeFilter' '0'
	option 'SERVER_Conn_SMSTimeFilter' '0'
	option 'SERVER_Conn_MotionSet' '1'
	#when different check needed, fresh imei 
	option 'TRACKER_IMEI' '1234567'
	option 'TRACKER_Type' 'VIP4G'
	option 'TRACKER_Brand' 'Microhard Systems'
	option 'TRACKER_Version' 'v2.0.0'
	option 'Last_Position' 'A'
	option 'Pos_Record_EN_NUMS' '0'
	option 'Pos_Record_INTERVAL' '30'



