# Copyright (C) 2012 Microhard Systems Inc.

config 'gpsrecorderd' 'gpsrecorder_conf'
	option 'Pos_Record_EN' 'A'
#	option 'Pos_Record_NUMS' '20000'
	option 'Pos_Record_INTERVAL' '600'
	option 'Pos_Record_ALT' 'A'
	option 'Pos_Record_IO' 'A'
	option 'Pos_Record_SPEED' 'A'
	option 'Pos_Record_OVERSPEED' '120'
	option 'Pos_Record_ORIENT' 'A'
	option 'Pos_Record_ORIENTCHG' '60'
	option 'Pos_Record_RSSI' 'A'




