# Copyright (C) 2012 Microhard Systems Inc.

config 'gpsrpt' 'gpsr_conf'
	option 'AGCR_Remote_Reporting_Status' 'AAAA'
	option 'AGCR_Remote_IP_address0' '0.0.0.0'
	option 'AGCR_Remote_IP_address1' '0.0.0.0'
	option 'AGCR_Remote_IP_address2' '0.0.0.0'
	option 'AGCR_Remote_IP_address3' '0.0.0.0'
	option 'AGCR_Remote_PORT0' '20175'
	option 'AGCR_Remote_PORT2' '20175'
	option 'AGCR_Remote_PORT3' '20175'
	option 'AGCR_Remote_PORT1' '20175'
	option 'AGCR_Message_type0' 'BAAA'
	option 'AGCR_Message_type1' 'BAAA'
	option 'AGCR_Message_type2' 'BAAA'
	option 'AGCR_Message_type3' 'BAAA'
	option 'AGCR_Timer_trigger' 'AAAA'
	option 'AGCR_Timer0' '600'
	option 'AGCR_Timer1' '600'
	option 'AGCR_Timer2' '600'
	option 'AGCR_Timer3' '600'
	option 'AGCR_Distance_trigger' 'AAAA'
	option 'AGCR_Trigger_condition' 'AAAA'
	option 'AGCR_Distance0' '1000'
	option 'AGCR_Distance1' '1000'
	option 'AGCR_Distance2' '1000'
	option 'AGCR_Distance3' '1000'
	option 'SMTP0_Mail_Subject' 'GPSReportMessage1'
	option 'SMTP0_Server' 'smtp.gmail.com:465'
	option 'SMTP0_User_Name' '@gmail.com'
	option 'SMTP0_Password' 'xxx'
	option 'SMTP0_Recipient' 'host@'
	option 'SMTP0_Buffer' '1024'
	option 'SMTP1_Mail_Subject' 'GPSReportMessage2'
	option 'SMTP1_Server' 'smtp.gmail.com:465'
	option 'SMTP1_User_Name' '@gmail.com'
	option 'SMTP1_Password' 'xxx'
	option 'SMTP1_Recipient' 'host@'
	option 'SMTP1_Buffer' '1024'
	option 'SMTP2_Mail_Subject' 'GPSReportMessage2'
	option 'SMTP2_Server' 'smtp.gmail.com:465'
	option 'SMTP2_User_Name' '@gmail.com'
	option 'SMTP2_Password' 'xxx'
	option 'SMTP2_Recipient' 'host@'
	option 'SMTP2_Buffer' '1024'
	option 'SMTP3_Mail_Subject' 'GPSReportMessage3'
	option 'SMTP3_Server' 'smtp.gmail.com:465'
	option 'SMTP3_User_Name' '@gmail.com'
	option 'SMTP3_Password' 'xxx'
	option 'SMTP3_Recipient' 'host@'
	option 'SMTP3_Buffer' '1024'
	option 'AGCR_Local_Stream_Set0' 'A'
	option 'AGCR_Local_Stream_Set1' 'A'
	option 'AGCR_Local_Stream_Set2' 'A'
	option 'AGCR_Local_Stream_Set3' 'A'


