# Copyright (C) 2012 Microhard Systems Inc.

config 'udprpt' 'eur_conf'
#Report# A-Disable B-Modem_Event C-SDP_Event D-Management
        option 'Event_Remote_Reporting_Status' 'AAAA'
        option 'Event_Remote_IP_address0' '0.0.0.0'
        option 'Event_Remote_IP_address1' '0.0.0.0'
        option 'Event_Remote_IP_address2' '0.0.0.0'
        option 'Event_Remote_IP_address3' '0.0.0.0'
        option 'Event_Remote_PORT0' '20200'
        option 'Event_Remote_PORT1' '20200'
        option 'Event_Remote_PORT2' '20200'
        option 'Event_Remote_PORT3' '20200'
#Interval(s):
        option 'Event_Timer0' '600'
        option 'Event_Timer1' '600'
        option 'Event_Timer2' '600'
        option 'Event_Timer3' '300'
#Message#1: A - None B - Modem Info C - Carrier Info  D - Wan Info
        option 'Event_Message_type0' 'BBBB'
        option 'Event_Message_type1' 'AAAA'
        option 'Event_Message_type2' 'AAAA'
#A-None B-Valid  :ETHINFO,CARINFO,RADINFO/USBINFO,COM0INFO,IOINFO/COM1INFO,VPNINFO1/2/3.../16  (VPN only for 3G)
        option 'Event_Management0' 'BAAAAAAAAAAAAAAAAAAAA'
        option 'Event_Management1' 'BAAAAAAAAAAAAAAAAAAAA'
        option 'Event_Management2' 'BAAAAAAAAAAAAAAAAAAAA'
        option 'Event_Management3' 'ABAAAAAAAAAAAAAAAAAAA'
	option 'Cell_Loc_Network' 'A'

config 'udprpt' 'eur_conf_vpn0'


config 'udprpt' 'eur_conf_vpn1'


config 'udprpt' 'eur_conf_vpn2'


config 'udprpt' 'eur_conf_vpn3'


config 'nms' 'nms_conf'
        option 'nmsserver' 'nms.microhardcorp.com'
        option 'domainname' 'default'
        option 'domainpasswd' '21232f297a57a5a743894a0e4a801fc3'


#eur_conf_vpn for VIP4G




