config 'x2stunnel' 'Mxl2tpserver'
        option 'enabled' '0' 
	option 'interface' 'br-wan'                                                   
        option 'authby' 'secret'                                                
        option 'auto' 'route'                                                   
        option 'keyingtries' '3'                                                
        option 'rekey' 'yes'                                                    
        option 'pfs' 'no'                                                       
        option 'ike_alg' '3des'                                                 
        option 'ike_auth' 'md5'                                                 
        option 'ike_dh' 'modp1024'                                              
        option 'ikelifetime' '28800'                                            
        option 'esp_alg' '3des'                                                 
        option 'esp_auth' 'md5'                                                 
        option 'esp_dh' 'modp1024'                                              
        option 'keylife' '3600'                                                 
        option 'key' ''                                                
        option 'dpddelay' '32'                                                  
        option 'dpdtimeout' '122'                                               
        option 'dpdaction' 'clear'

config 'x2stunnel' 'M2xl2tpserver'
        option 'enabled' '0' 
	option 'interface' 'br-wan2'                                                   
        option 'authby' 'secret'                                                
        option 'auto' 'route'                                                   
        option 'keyingtries' '3'                                                
        option 'rekey' 'yes'                                                    
        option 'pfs' 'no'                                                       
        option 'ike_alg' '3des'                                                 
        option 'ike_auth' 'md5'                                                 
        option 'ike_dh' 'modp1024'                                              
        option 'ikelifetime' '28800'                                            
        option 'esp_alg' '3des'                                                 
        option 'esp_auth' 'md5'                                                 
        option 'esp_dh' 'modp1024'                                              
        option 'keylife' '3600'                                                 
        option 'key' ''                                                
        option 'dpddelay' '32'                                                  
        option 'dpdtimeout' '122'                                               
        option 'dpdaction' 'clear'
