config 'service' 'server'
	option Discovery_Service_Status B
	option server_port	20097

config  'exdiscovery' 'discovery'
	option productname VIP
	option firmware	v1.1.0-1026
	option mode sta
	option ssid wlan0
	option imagename VIP4G
	option mlradio 1
        option mlethernet 2
        option mlcarrier 1
        option mlusb 0
        option mlcom 1 
