config 'dg_general' 'dg_config'
        option 'enabled' '1'
        option 'mode' 'black_list'

config 'site'
        option 'site_name' 'badboys.com'
        option 'url' ''
        option 'ip_addr' ''

config 'site'
        option 'site_name' 'playboy.com'
        option 'url' ''
        option 'ip_addr' ''

