config hs_general hs_config
	option enabled 0
	option type coova_chilli
config hotspot coova_chilli
	option LOC_ID "1"
	option LOC_NAME "microhard"
	option NASID "microhard_1"
	option NETWORK 192.168.182.0
	option NETMASK 255.255.255.0
	option DNS_DOMAIN key.chillispot.info
	option RADIUS radius.hotspotsystem.com
	option RADIUS2 radius2.hotspotsystem.com
	option UAMFORMAT "https://customer.hotspotsystem.com/customer/hotspotlogin.php"
	option UAMSECRET "hotsys123"
	option RADSECRET "hotsys123"
