config INPUT_ADXL34X
         tristate "Analog Devices ADXL34x Three-Axis Digital Accelerometer"
         default n
         help
           Say Y here if you have a Accelerometer interface using the
           ADXL345/6 controller, and your board-specific initialization
           code includes that in its table of devices.
 
           This driver can use either I2C or SPI communication to the
           ADXL345/6 controller.  Select the appropriate method for
           your system.
 
           If unsure, say N (but it's safe to say "Y").
 
           To compile this driver as a module, choose M here: the
           module will be called adxl34x.
 
config INPUT_ADXL34X_I2C
         tristate "support I2C bus connection"
         depends on INPUT_ADXL34X && I2C
         default y
         help
           Say Y here if you have ADXL345/6 hooked to an I2C bus.
 
           To compile this driver as a module, choose M here: the
           module will be called adxl34x-i2c.
