# Copyright (C) 2012 Microhard Systems Inc.
#
# ADXL_Remote_Reporting_Mode: A: Event Driven  B: Timer Driven
# ADXL_Remote_Reporting_Type: binary udp taip
# ADXL_Remote_Reporting_Status: Disable: 0 Enable: 1

config 'adxl' 'adxl_report_conf'
        option 'ADXL_Remote_Reporting_Status' '0'
	option 'ADXL_Remote_Reporting_Mode' 'A'
	option 'ADXL_Remote_Reporting_Type' 'B'
        option 'ADXL_Remote_Reporting_IP' '0.0.0.0'
        option 'ADXL_Remote_Reporting_PORT' '20100'
        option 'ADXL_Remote_Reporting_Timer' '120'
	option 'ADXL_Remote_Reporting_Message1' '1'
	option 'ADXL_Remote_Reporting_Message2' ''
	option 'ADXL_Remote_Reporting_Message3' ''
	option 'ADXL_Remote_Reporting_Message4' ''







